# Credit scoring classification
Ce fichier est un exemple pour le cours de Statistiques pour Big Data du M1 GDA à Nanterre. Il a été fait pendant une heure de cours et est loin d'être efficient aussi bien dans le code que dans la manière de traiter le problème posé. L'idée est de montrer le process à suivre pour une analyse lorsque l'on possède beaucoup de variables explicatives dans un cadre prédictif. 


## 1. Setup

In [223]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression 
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

## 2. Import data

In [213]:
df = pd.read_csv('loan_data_2007_2014.csv')

/home/user1/anaconda3/envs/sentiment/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (19) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

## 3. Exploration

In [214]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466285 entries, 0 to 466284
Data columns (total 74 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           466285 non-null  int64
 1   member_id                    466285 non-null  int64
 2   loan_amnt                    466285 non-null  int64
 3   funded_amnt                  466285 non-null  int64
 4   funded_amnt_inv              466285 non-null  float64
 5   term                         466285 non-null  object
 6   int_rate                     466285 non-null  float64
 7   installment                  466285 non-null  float64
 8   grade                        466285 non-null  object
 9   sub_grade                    466285 non-null  object
 10  emp_title                    438697 non-null  object
 11  emp_length                   445277 non-null  object
 12  home_ownership               466285 non-null  object
 13  annual_inc                   466281 non-null  float64
 14  verification_status          466285 non-null  object
 15  issue_d                      466285 non-null  object
 16  loan_status                  466285 non-null  object
 17  pymnt_plan                   466285 non-null  object
 18  url                          466285 non-null  object
 19  desc                         125983 non-null  object
 20  purpose                      466285 non-null  object
 21  title                        466265 non-null  object
 22  zip_code                     466285 non-null  object
 23  addr_state                   466285 non-null  object
 24  dti                          466285 non-null  float64
 25  delinq_2yrs                  466256 non-null  float64
 26  earliest_cr_line             466256 non-null  object
 27  inq_last_6mths               466256 non-null  float64
 28  mths_since_last_delinq       215934 non-null  float64
 29  mths_since_last_record       62638 non-null   float64
 30  open_acc                     466256 non-null  float64
 31  pub_rec                      466256 non-null  float64
 32  revol_bal                    466285 non-null  int64
 33  revol_util                   465945 non-null  float64
 34  total_acc                    466256 non-null  float64
 35  initial_list_status          466285 non-null  object
 36  out_prncp                    466285 non-null  float64
 37  out_prncp_inv                466285 non-null  float64
 38  total_pymnt                  466285 non-null  float64
 39  total_pymnt_inv              466285 non-null  float64
 40  total_rec_prncp              466285 non-null  float64
 41  total_rec_int                466285 non-null  float64
 42  total_rec_late_fee           466285 non-null  float64
 43  recoveries                   466285 non-null  float64
 44  collection_recovery_fee      466285 non-null  float64
 45  last_pymnt_d                 465909 non-null  object
 46  last_pymnt_amnt              466285 non-null  float64
 47  next_pymnt_d                 239071 non-null  object
 48  last_credit_pull_d           466243 non-null  object
 49  collections_12_mths_ex_med   466140 non-null  float64
 50  mths_since_last_major_derog  98974 non-null   float64
 51  policy_code                  466285 non-null  int64
 52  application_type             466285 non-null  object
 53  annual_inc_joint             0 non-null       float64
 54  dti_joint                    0 non-null       float64
 55  verification_status_joint    0 non-null       float64
 56  acc_now_delinq               466256 non-null  float64
 57  tot_coll_amt                 396009 non-null  float64
 58  tot_cur_bal                  396009 non-null  float64
 59  open_acc_6m                  0 non-null       float64
 60  open_il_6m                   0 non-null       float64
 61  open_il_12m                  0 non-null       float64
 62  open_il_24m                  0 non-null       float64
 63  mths_since_rcnt_il           0 non-null       float64
 64  total_bal_il                 0 non-null       float64
 65  il_util                      0 non-null       float64
 66  open_rv_12m                  0 non-null       float64
 67  open_rv_24m                  0 non-null       float64
 68  max_bal_bc                   0 non-null       float64
 69  all_util                     0 non-null       float64
 70  total_rev_hi_lim             396009 non-null  float64
 71  inq_fi                       0 non-null       float64
 72  total_cu_tl                  0 non-null       float64
 73  inq_last_12m                 0 non-null       float64
dtypes: float64(46), int64(6), object(22)
memory usage: 263.3+ MB

### 1. Colonnes à supprimer

In [215]:
f_to_delete = ["id", "member_id", "zip_code", "url", "title", "desc", "emp_title", 
               "addr_state", "next_pymnt_d", "collection_recovery_fee", "application_type"]
df.drop(columns=f_to_delete, inplace=True)

### 2. Missing values

In [216]:
# Missing values 
df.dropna(thresh = df.shape[0]*0.2, how = 'all', inplace = True, axis=1 )

### 3. Variables expliquée (target)

In [217]:
df['loan_status'].value_counts(normalize=True)
df['default'] = np.where(df.loc[:, 'loan_status'].isin(['Default', 'Late (16-30 days)',
                                                       'Late (31-120 days)', 
                                                       'Charged Off',
                                                       'Does not meet the credit policy. Status:Charged Off']),-1,1)
df['default']

0         1
1        -1
2         1
3         1
4         1
         ..
466280    1
466281   -1
466282    1
466283    1
466284    1
Name: default, Length: 466285, dtype: int64

### 4. Train Test Split

In [218]:
y = df['default']
X = df.drop('default', axis=1)
X = X.drop('loan_status', axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

### 5. Date

In [219]:
def date_col(df, column): 
    df[column] = pd.to_datetime(df[column], format = '%b-%y')
    # Creation variable qui dit depuis combien de temps le client n'a pas payé 
    date_ref = pd.to_datetime('2018-12-01')
    df['depuis_'+ column] = pd.to_numeric((date_ref-df[column])/ np.timedelta64(1, 'M'))
    df.drop(columns = [column], inplace = True)
    
date_col(X_train, 'last_pymnt_d')
date_col(X_train, 'last_credit_pull_d')
date_col(X_train, 'issue_d')
date_col(X_train, 'earliest_cr_line')
X_train.info()

X_train.drop('term', axis=1, inplace=True)

/home/user1/anaconda3/envs/sentiment/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/user1/anaconda3/envs/sentiment/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/home/user1/anaconda3/envs/sentiment/lib/python3.7/site-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

<class 'pandas.core.frame.DataFrame'>
Int64Index: 349713 entries, 76820 to 201841
Data columns (total 44 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   loan_amnt                    349713 non-null  int64
 1   funded_amnt                  349713 non-null  int64
 2   funded_amnt_inv              349713 non-null  float64
 3   term                         349713 non-null  object
 4   int_rate                     349713 non-null  float64
 5   installment                  349713 non-null  float64
 6   grade                        349713 non-null  object
 7   sub_grade                    349713 non-null  object
 8   emp_length                   333961 non-null  object
 9   home_ownership               349713 non-null  object
 10  annual_inc                   349709 non-null  float64
 11  verification_status          349713 non-null  object
 12  pymnt_plan                   349713 non-null  object
 13  purpose                      349713 non-null  object
 14  dti                          349713 non-null  float64
 15  delinq_2yrs                  349690 non-null  float64
 16  inq_last_6mths               349690 non-null  float64
 17  mths_since_last_delinq       161851 non-null  float64
 18  open_acc                     349690 non-null  float64
 19  pub_rec                      349690 non-null  float64
 20  revol_bal                    349713 non-null  int64
 21  revol_util                   349456 non-null  float64
 22  total_acc                    349690 non-null  float64
 23  initial_list_status          349713 non-null  object
 24  out_prncp                    349713 non-null  float64
 25  out_prncp_inv                349713 non-null  float64
 26  total_pymnt                  349713 non-null  float64
 27  total_pymnt_inv              349713 non-null  float64
 28  total_rec_prncp              349713 non-null  float64
 29  total_rec_int                349713 non-null  float64
 30  total_rec_late_fee           349713 non-null  float64
 31  recoveries                   349713 non-null  float64
 32  last_pymnt_amnt              349713 non-null  float64
 33  collections_12_mths_ex_med   349610 non-null  float64
 34  mths_since_last_major_derog  74106 non-null   float64
 35  policy_code                  349713 non-null  int64
 36  acc_now_delinq               349690 non-null  float64
 37  tot_coll_amt                 297170 non-null  float64
 38  tot_cur_bal                  297170 non-null  float64
 39  total_rev_hi_lim             297170 non-null  float64
 40  depuis_last_pymnt_d          349417 non-null  float64
 41  depuis_last_credit_pull_d    349681 non-null  float64
 42  depuis_issue_d               349713 non-null  float64
 43  depuis_earliest_cr_line      349690 non-null  float64
dtypes: float64(31), int64(4), object(9)
memory usage: 120.1+ MB

### 6. Dummies

In [220]:
X_train_cat = X_train.select_dtypes(include = 'object').copy()

def dummies(df, columns):
    df_d = []
    for col in columns:
        df_d.append(pd.get_dummies(df[col], prefix = col))
    df_d = pd.concat(df_d, axis=1)
    df = pd.concat([df, df_d], axis=1)
    df.drop(columns, axis=1, inplace=True)
    return df

X_train = dummies(X_train, ['grade', 'sub_grade', 'emp_length', 'home_ownership',
                            'verification_status', 'pymnt_plan', 'purpose', 
                            'initial_list_status'])

In [228]:
reg = LogisticRegression(penalty='l1',fit_intercept=True,  
                          class_weight='balanced', solver='saga', l1_ratio=0.9)
X_train.fillna(value=0, axis = 1, inplace=True)
reg.fit(X_train, y_train)

/home/user1/anaconda3/envs/sentiment/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:1319: UserWarning: l1_ratio parameter is only used when penalty is 'elasticnet'. Got (penalty=l1)
  "(penalty={})".format(self.penalty))
/home/user1/anaconda3/envs/sentiment/lib/python3.7/site-packages/sklearn/linear_model/_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  "the coef_ did not converge", ConvergenceWarning)

LogisticRegression(class_weight='balanced', l1_ratio=0.9, penalty='l1',
                   solver='saga')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 349713 entries, 249233 to 197014
Data columns (total 43 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   loan_amnt                    349713 non-null  int64
 1   funded_amnt                  349713 non-null  int64
 2   funded_amnt_inv              349713 non-null  float64
 3   int_rate                     349713 non-null  float64
 4   installment                  349713 non-null  float64
 5   grade                        349713 non-null  object
 6   sub_grade                    349713 non-null  object
 7   emp_length                   334004 non-null  object
 8   home_ownership               349713 non-null  object
 9   annual_inc                   349710 non-null  float64
 10  verification_status          349713 non-null  object
 11  pymnt_plan                   349713 non-null  object
 12  purpose                      349713 non-null  object
 13  dti                          349713 non-null  float64
 14  delinq_2yrs                  349689 non-null  float64
 15  inq_last_6mths               349689 non-null  float64
 16  mths_since_last_delinq       162070 non-null  float64
 17  open_acc                     349689 non-null  float64
 18  pub_rec                      349689 non-null  float64
 19  revol_bal                    349713 non-null  int64
 20  revol_util                   349449 non-null  float64
 21  total_acc                    349689 non-null  float64
 22  initial_list_status          349713 non-null  object
 23  out_prncp                    349713 non-null  float64
 24  out_prncp_inv                349713 non-null  float64
 25  total_pymnt                  349713 non-null  float64
 26  total_pymnt_inv              349713 non-null  float64
 27  total_rec_prncp              349713 non-null  float64
 28  total_rec_int                349713 non-null  float64
 29  total_rec_late_fee           349713 non-null  float64
 30  recoveries                   349713 non-null  float64
 31  last_pymnt_amnt              349713 non-null  float64
 32  collections_12_mths_ex_med   349600 non-null  float64
 33  mths_since_last_major_derog  74358 non-null   float64
 34  policy_code                  349713 non-null  int64
 35  acc_now_delinq               349689 non-null  float64
 36  tot_coll_amt                 296930 non-null  float64
 37  tot_cur_bal                  296930 non-null  float64
 38  total_rev_hi_lim             296930 non-null  float64
 39  depuis_last_pymnt_d          349427 non-null  float64
 40  depuis_last_credit_pull_d    349682 non-null  float64
 41  depuis_issue_d               349713 non-null  float64
 42  depuis_earliest_cr_line      349689 non-null  float64
dtypes: float64(31), int64(4), object(8)
memory usage: 117.4+ MB

/home/user1/anaconda3/envs/sentiment/lib/python3.7/site-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [230]:
confusion_matrix(y_train, reg.predict(X_train))

array([[ 30909,   8163],
       [  1060, 309581]])

In [231]:
table = pd.DataFrame(columns=['Name'], data = X_train.columns.values)
table['coeff'] = np.transpose(reg.coef_)
print(table)

                       Name         coeff
0                 loan_amnt -1.084440e-04
1               funded_amnt -1.088647e-04
2           funded_amnt_inv -1.045357e-04
3                  int_rate -2.663149e-07
4               installment -4.275392e-06
..                      ...           ...
110  purpose_small_business -1.177540e-09
111        purpose_vacation -1.290269e-10
112         purpose_wedding -7.191110e-11
113   initial_list_status_f -1.048835e-08
114   initial_list_status_w  5.179170e-09

[115 rows x 2 columns]